<!-- tell the View which model you are passing it-->
@model Library.ViewModels.Catalogue.ItemIndexModel

<div id="items">
    <h2>Welcome to the Library Catalogue!</h2>
    <div class="items-table">
        <table class="items-table table-condensed" id="catalogue-index-table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Author/Director</th>
                    <th>Item Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr class="item-row">
                        <td>
                            <a asp-controller="Catalogue" asp-action="Detail" asp-route-id="@item.Id">
                                <img src="@item.ImageUrl" class="image-cell"/>
                            </a>
                        </td>
                        <td>@item.Title</td>
                        <td>@item.AuthorOrDirector</td>
                        <td>@item.Type</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
